.gallery
    .gallery_slider_container
        .owl-carousel.owl-theme.gallery_slider
          // Slide
          .owl-item.gallery_item
            a.colorbox(href='images/gallery_1.jpg')
              .background_image(style='background-image:url(images/gallery_1.jpg)')
            |                         
            .gallery_overlay.trans_200.d-flex.flex-column.align-items-center.justify-content-center
              div +
          // Slide
          .owl-item.gallery_item
            a.colorbox(href='images/gallery_2.jpg')
              .background_image(style='background-image:url(images/gallery_2.jpg)')
            |                         
            .gallery_overlay.trans_200.d-flex.flex-column.align-items-center.justify-content-center
              div +
          // Slide
          .owl-item.gallery_item
            a.colorbox(href='images/gallery_3.jpg')
              .background_image(style='background-image:url(images/gallery_3.jpg)')
            |                         
            .gallery_overlay.trans_200.d-flex.flex-column.align-items-center.justify-content-center
              div +
          // Slide
          .owl-item.gallery_item
            a.colorbox(href='images/gallery_4.jpg')
              .background_image(style='background-image:url(images/gallery_4.jpg)')
            |                         
            .gallery_overlay.trans_200.d-flex.flex-column.align-items-center.justify-content-center
              div +
          // Slide
          .owl-item.gallery_item
            a.colorbox(href='images/gallery_5.jpg')
              .background_image(style='background-image:url(images/gallery_5.jpg)')
            |                         
            .gallery_overlay.trans_200.d-flex.flex-column.align-items-center.justify-content-center
              div +
