#passwordModal.modal.fade(tabindex='1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content(style='padding:5%')
            form(method='POST')
                .form-group
                    label.col-form-label(for='recipient-name') New Password
                    input#new_password.form-control(type='password' name='new_password' onkeyup='check3()' required='')
                p#error-msg(style='color:red')
                .form-group
                    label.col-form-label(for='message-text') Confirm New Password
                    input#confirm_new_password.form-control(type='password' name='confirm_new_password' onkeyup='check()' required='')
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#submitBtn.btn.btn-primary(type='submit' onclick='changepass()') Submit
      