script.
    function reg() {
      window.location.replace("Register.html");
    }     
script(src='/js/jquery-3.2.1.min.js')
script(src='/styles/bootstrap-4.1.2/popper.js')
script(src='/styles/bootstrap-4.1.2/bootstrap.min.js')
script(src='/plugins/greensock/TweenMax.min.js')
script(src='/plugins/greensock/TimelineMax.min.js')
script(src='/plugins/scrollmagic/ScrollMagic.min.js')
script(src='/plugins/greensock/animation.gsap.min.js')
script(src='/plugins/greensock/ScrollToPlugin.min.js')
script(src='/plugins/OwlCarousel2-2.2.1/owl.carousel.js')
script(src='/plugins/easing/easing.js')
script(src='/plugins/progressbar/progressbar.min.js')
script(src='/plugins/parallax-js-master/parallax.min.js')
script(src='/plugins/scrollTo/jquery.scrollTo.min.js')
script(src='/js/custom.js')
script(src='/js/notifications.js')