include header2
br
br
br
br
br
// Form
.home
  #main.conatiner
    #app_form.app_form
      input#employee_name.app_input(type='text', placeholder='Employee Name', required='required')
      input#employee_dob.app_input(type='date', placeholder='Date of Birth', required='required')
      input#employee_address.app_input(type='text', placeholder='Address', required='required')
      input#employee_contact.app_input(type='Number', placeholder='Contact Number', required='required')
      input#employee_cnic.app_input(type='Number', placeholder='CNIC Number', required='required') 
      select#employee_role.selectpicker.app_input.app_select(name='role' onchange='roleFunction()')
        option(disabled='', selected='') Select Role        
        option(value='stylist') Stylist
        option(value='receptionist') Receptionist
      input#employee_username.app_input(type='text', onkeyup='checkUsername()', onkeydown='checkUsername()' placeholder='Username', hidden='true')
      p#unError
      input#employee_password.app_input(type='password', placeholder='Password', hidden='true')
      .col-5
      .text-left.row
        button.app_form_button(onclick='reg()') cancel
        .col-5
        button#addBtn.app_form_button.text-center(onclick='addEmployee()') Add Employee
include scripts
script(src="/js/addEmployee.js")