if session.username == null
    include header1
else
    include header2                            
//- include servicesSlider
br
br
br
br
br
br
br
.container
    h3(style = "color:red") #{errorMessage}

include scripts