.home
        // Home Slider
        .home_slider_container
          .owl-carousel.owl-theme.home_slider
            // Slide
            .owl-item.home_slide
              .background_image(style='background-image:url(/images/index.jpg)')
              |                         
              .slide_text(data-animation-in='fadeIn', data-animation-out='animate-out fadeOut')
                .slide_title Our best offers
                |                             
                .slide_subtitle
                  | Lorem ipsum dolor sit amet, consectetur
              |                         
              .slide_container
                .container
                  .row
                    .col-lg-11
                      .slide_content(data-animation-in='fadeInRight', data-animation-out='animate-out fadeOut')
                        .home_title
                          h1
                            | The 
                            span hair
                            |  that you dream
                        |                                             
                        .home_text
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien cursus faucibus finibus.
                        |                                             
                        .home_link
                          a(href='#') View our offers
            // Slide
            .owl-item.home_slide
              .background_image(style='background-image:url(/images/index.jpg)')
              |                         
              .slide_text(data-animation-in='fadeIn', data-animation-out='animate-out fadeOut')
                .slide_title Our best offers
                |                             
                .slide_subtitle
                  | Lorem ipsum dolor sit amet, consectetur
              |                         
              .slide_container
                .container
                  .row
                    .col-lg-11
                      .slide_content(data-animation-in='fadeInRight', data-animation-out='animate-out fadeOut')
                        .home_title
                          h1
                            | The 
                            span hair
                            |  that you dream
                        |                                             
                        .home_text
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien cursus faucibus finibus.
                        |                                             
                        .home_link
                          a(href='#') View our offers
            // Slide
            .owl-item.home_slide
              .background_image(style='background-image:url(/images/index.jpg)')
              |                         
              .slide_text(data-animation-in='fadeIn', data-animation-out='animate-out fadeOut')
                .slide_title Our best offers
                |                             
                .slide_subtitle
                  | Lorem ipsum dolor sit amet, consectetur
              |                         
              .slide_container
                .container
                  .row
                    .col-lg-11
                      .slide_content(data-animation-in='fadeInRight', data-animation-out='animate-out fadeOut')
                        .home_title
                          h1
                            | The 
                            span hair
                            |  that you dream
                        |                                             
                        .home_text
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien cursus faucibus finibus.
                        |                                             
                        .home_link
                          a(href='#') View our offers
        // Scroll Down
        .scroll_down.scroll_to.d-flex.flex-column.align-items-center.justify-content-center(data-scroll-to='#services')
          .scroll_icon
          |                 
          div Scroll Down
        // Slider Progress
        .slide_progress
          .slide_num 01.
          |                 
          .slide_bar
            div