script.
    function addProduct(){
      window.location.replace("/manager/addProduct")
    }  
    function addEmployee(){
      window.location.replace("/manager/addEmployee");
    }
    function addService(){
      window.location.replace("/manager/addService");
    }

script(src="https://kit.fontawesome.com/417f637d9d.js" crossorigin="anonymous")
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
script(src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous")
script(src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js")

//- script(src='/js/jquery-3.2.1.min.js')
//- script(src='/styles/bootstrap-4.1.2/popper.js')
//- script(src='/styles/bootstrap-4.1.2/bootstrap.min.js')
script(src='/plugins/greensock/TweenMax.min.js')
script(src='/plugins/greensock/TimelineMax.min.js')
script(src='/plugins/scrollmagic/ScrollMagic.min.js')
script(src='/plugins/greensock/animation.gsap.min.js')
script(src='/plugins/greensock/ScrollToPlugin.min.js')
script(src='/plugins/OwlCarousel2-2.2.1/owl.carousel.js')
script(src='/plugins/easing/easing.js')
script(src='/plugins/progressbar/progressbar.min.js')
script(src='/plugins/parallax-js-master/parallax.min.js')
script(src='/plugins/scrollTo/jquery.scrollTo.min.js')
script(src='/js/custom.js')
script(src='/js/notifications.js')
script(src='/js/cart.js')
